/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 
 body {
    font-family: 'Cormorant Infant', serif;
    line-height: 1.6;
    background-color: rgb(249,223,214); /* Background color */
    color: #4a4a4a; /* Body Text */
 }
 
 
 /* Navbar styling */
 nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2em 2em; 
    background-color: rgb(249,223,214,0.8);/* Nav bar color */
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
 }
 
 
 nav ul {
    display: flex;
    list-style: none;
 }
 
 
 nav ul li {
    margin: 0 1.2em; 
 }
 
 
 nav ul li a {
    color: #333;
    text-decoration: none;
    font-family: 'Cormorant', serif;
    font-size: 1.1em; 
    font-weight: 600;
    transition: color 0.3s;
 }
 
 
 nav ul li a:hover {
    color: #C96533;
 }
 
 
 .logo img {
    width: 6rem;
 }
 
 
 /* Banner Image */
 .banner-image {
    position: relative;
    text-align: center;
    color: white;
    height: 90vh;
    overflow: hidden;
 }
 
 
 .banner-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(60%); 
 }
 
 
 /* Phrase on Banner Image */
 .banner-text {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 3em;
   font-family: 'Cormorant', serif;
   color: white;
   text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
   line-height: 1; 
}

#dynamic-word {
   color: #C96533; 
   margin-bottom: 0; 
   font-style: italic; 
}


 
/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;600&family=Cormorant+Infant:wght@400;500&display=swap');

/* About Section */
.about-section {
   padding: 4em 2em;
   background-color: #F9DFD6;
   text-align: center;
}

.about-section h2 {
   font-size: 2.5rem;
   color: #C96533;
   margin-bottom: 1.5em;
   text-transform: uppercase;
   letter-spacing: 1px;
   font-family: 'Cormorant', serif;
}

.about-content {
   display: grid;
   grid-template-columns: 1fr 2fr;
   gap: 20px;
   align-items: center;
   max-width: 900px;
   margin: 0 auto;
   text-align: left;
}

.profile-pic {
   width: 250px;
   height: 250px;
   border-radius: 50%;
   object-fit: cover;
   position: relative;
   z-index: 2;
}

.about-content p {
   font-size: 1.1rem;
   line-height: 1.6;
   color: #333;
   max-width: 600px;
   margin: 0 auto;
   font-weight: normal;
   font-family: 'Cormorant Infant', serif;
}

.buttons {
   display: flex;
   justify-content: center;
   gap: 40px;
   margin-top: 2em;
}

.btn-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}

.button-icon {
   width: 50px;
   height: 50px;
   margin-bottom: 10px;
   transition: transform 0.3s ease;
}

.button-icon:hover {
   transform: scale(1.2);
}

.btn {
   padding: 0.8em 1.5em; /* Reduced padding for a slimmer button */
   background-color: #C96533;
   color: #fff;
   font-size: 1rem; /* Adjusted font size for balance */
   text-decoration: none;
   border-radius: 25px;
   display: inline-block;
   width: 160px; /* Fixed width to ensure all buttons are uniform */
   text-align: center;
   transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
   background-color: #a5532b;
   transform: translateY(-5px);
}

.btn:active {
   transform: translateY(1px);
}

 
 
 /* Ambitions Section */
 .ambitions-section {
    padding: 4em 2em;
    background-color: #f9dfd5; 
    text-align: center;
    margin-top: -20px; 
 }
 
 
 .ambitions-section h2 {
    font-size: 2em;
    font-weight: bold; 
    margin-bottom: 1.5em; 
    color:#C96533
 }
 
 
 .ambitions-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 2em; 
    justify-items: center; 
 }
 
 
 .ambition {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px; 
    text-align: center;
 }
 
 
 .ambition img, .ambition svg {
    width: 110px; 
    height: 110px;
    margin-bottom: 1em;
 }
 
 
 .ambition svg {
    stroke: #C96533; 
    stroke-width: 1.5; 
 }
 
 
 .ambition p {
    font-size: 1.1em;
    color: #4a4a4a; 
    line-height: 1.6;
 }

 /* Skills Section */
.skills-section {
   padding: 4em 2em;
   background-color: #f4ece6; /* Matching background color with Ambitions */
   text-align: center;
}

.skills-section h2 {
   font-size: 2em;
   font-weight: bold;
   margin-bottom: 1.5em;
   color:#C96533
}

.skills-grid {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); /* Flexible columns */
   gap: 2em;
   justify-items: center;
}

.skills {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}

.skills img, .skills svg {
   width: 110px;
   height: 110px;
   margin-bottom: 1em;
}

.skills svg {
   stroke: #C96533;
   stroke-width: 1.5;
}

.skills p {
   font-size: 1.1em;
   color: #4a4a4a;
   line-height: 1.6;
}

/* Skills Section Image and SVG hover effect */
.skills img,
.skills svg {
    transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth transition for transform and opacity */
}

/* Hover effect */
.skills img:hover,
.skills svg:hover {
    transform: scale(1.2); /* Slight zoom effect */
    opacity: 0.8; /* Slight opacity reduction */
}

/* Project Section */
.project-section {
   padding: 4em 2em;
   background-color: #f4ece6;
   text-align: center;
}

.project-section h2 {
   color: #C96533;
   font-family: 'Cormorant', serif;
   font-size: 2.5rem;
   margin-bottom: 1.5em;
}

/* Carousel container styles */
.carousel-container {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   overflow: hidden;
   max-width: 90%; /* Adjusted width to make carousel larger */
   margin: 0 auto;
   padding: 0 2em; /* Adjusted padding to create space for buttons */
}

/* Carousel (scrollable area) */
.carousel {
   display: flex;
   gap: 1em;
   overflow-x: auto;
   scroll-behavior: smooth;
   padding: 1em 0;
   width: 100%;
   -webkit-overflow-scrolling: touch; /* For smoother scrolling on mobile */
}

/* Hide scrollbar */
.carousel::-webkit-scrollbar {
   display: none; /* Hide scrollbar in WebKit browsers (Chrome, Safari) */
}

.carousel {
   scrollbar-width: none; /* Hide scrollbar in Firefox */
}

/* Individual project image and text */
.project {
   min-width: 350px; /* Increased minimum width */
   max-width: 400px; /* Increased maximum width */
   text-align: center;
   margin-bottom: 2em;
}

/* Project image styles */
.project-screenshot {
   width: 100%;
   height: auto;
   border-radius: 8px;
   margin-bottom: 1em;
   transition: transform 0.3s ease-in-out;
   background-color: rgb(2, 2, 2); /* Fix image blending with background */
   padding: 5px; /* Add padding around images to prevent blending */
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow around images */
}

/* Add hover effect on images */
.project-screenshot:hover {
   transform: scale(1.05); /* Slightly zoom on hover */
}

/* Project text style */
.project h3 {
   font-size: 1.25rem;
   font-weight: bold;
   color: #C96533;
   margin-top: 0.5em;
   text-decoration: none; /* Remove underline */
}

/* Ensure links don’t have underlines */
.project a {
   text-decoration: none;
   color: inherit; /* Ensures link color is inherited */
   display: block;
}

/* Button styles for carousel */
.carousel-button {
   position: absolute;
   top: 33%;
   transform: translateY(-50%); /* Center vertically */
   background-color: rgba(0, 0, 0, 0.2); /* Transparent background */
   color: white;
   border: none;
   font-size: 1.5rem; /* Smaller font size */
   cursor: pointer;
   padding: 0.3em 0.5em; /* Smaller padding */
   border-radius: 50%;
   z-index: 2;
}

/* Positioning of left and right buttons */
.left-button {
   left: 5px; /* Position slightly inside the container */
}

.right-button {
   right: 5px; /* Position slightly inside the container */
}

/* Optional styling for button hover */
.carousel-button:hover {
   background-color: rgba(0, 0, 0, 0.4); /* Darker on hover */
}


 /* Contact Section */
 .contact-section {
    padding: 4em 2em;
    background-color: #F9DFD6; 
    text-align: center;
 }
 
 
 .contact-section a {
    color: #C96533; 
 }
 
 
 /* Footer */
 footer {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: white;
 }
 /* Mobile Styles */
@media (max-width: 768px) {
   nav {
      display:block;
       padding: 1em; 
   }

   .about-content  {
      grid-template-columns:1fr;
   }

   .ambitions-grid {
      grid-template-columns:1fr;
   }

   .projects-grid {
      grid-template-columns:1fr;
   }

   nav ul {
       flex-direction: column; /* Stack menu items vertically */
       width: 100%; /* Make ul take full width */
       padding: 0; /* Remove padding */
       display: none; /* Hide the menu by default */
   }

   nav.active ul {
       display: flex; /* Show the menu when nav is active */
   }

   nav ul li {
       margin: 0.5em 0; /* Spacing between items */
       width: 100%; /* Full width for each item */
   }

   .menu-toggle {
       display: block; /* Show menu toggle button */
       cursor: pointer;
       padding: 0.5em 1em; 
       background-color: #C96533; 
       color: white; 
       border: none;
       border-radius: 5px; /* Rounded corners */
   }
}

/* Hide the toggle button by default on larger screens */
@media (min-width: 769px) {
   .menu-toggle {
       display: none; /* Hide toggle button on larger screens */
   }
}

/* Tablet Styles */
@media (min-width: 769px) and (max-width: 1024px) {
   .projects-grid {
       grid-template-columns: repeat(2, 1fr); /* Two columns on tablet */
   }

   .project-card {
       padding: 1.5em; 
   }

   .banner-text {
       font-size: 2.5em; 
   }
}
 